<div class="panel panel-info">
  <div class="panel-heading"><h2 id="example-heading-new">{{selectedEmployee.NAME}}</h2></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img ng-src="{{selectedEmployee.PHOTO}}">
        </a>
      </div>
      <div class="col-xs-6 col-md-9">
        <h3 style="display: inline-block;margin-right: 100px">ID : <span class="label label-default">{{selectedEmployee.ID}}</span></h3>
        <h3 style="display: inline-block;margin-right: 100px">Gender : <span class="label label-default">{{selectedEmployee.GENDER}}</span></h3>
        <h3 style="display: inline-block;margin-right: 100px">CONTACT NO :<span class="label label-default">{{selectedEmployee.PHONENUMBER}}</span></h3>
      </div>
    </div>
  </div>
</div>

